.toLeft {
    animation: 40s left;
}

@keyframes left {
    0% {
        transform: rotate(-10deg);
        top: -10px;
    }

    1% {
        transform: rotate(-100deg);
        top: -700px;
    }
}

.toRight {
    animation: 40s right;
}

@keyframes right {
    0% {
        transform: rotate(10deg);
        top: -10px;
    }

    1% {
        transform: rotate(100deg);
        top: -700px;
    }
}

